* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_4 {
  width: 100px;
  height: 100px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_28 {
  width: 76px;
  height: 68px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 12px;
}
