
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*titles*/
.title-section{
  font-size: 40px;
  margin: 30px 0;
}
/*descriptions*/
.description-of-section{
  margin: 30px 0;
}
/* header */
header{
font-family: 'Spicy Rice', cursive;
background-color: #9f91ec;
padding: 5px 0 5px;
position: fixed;
width: 100%;
display: none;
}
.list-nav{
 list-style: none;
 display: flex;
 justify-content: flex-end;
}
.linked{
 color: #7a65f3;
 -webkit-text-stroke: .5px #9686f0d8;
 padding: 0 30px;
 line-height: 2.5;
 font-weight: 400;
 font-size: 20px;
 text-decoration: none;
 display: flex;
 text-align: center;
}
@media (min-width: 1100px) {
header{
    display:inline;
}
}
/* greetings */
.profile{
background-color: #bac9e8;
padding: 180px 20px 80px;
width: 100%;
display: flex;
flex-grow: 1 2;
flex-direction: column;
align-items: center;
}
.presentation-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 40%;
}
.presentation-text{
text-align: center;
}
.greetings-text{
font-size: 16px;
margin-bottom: 40px;
font-family: 'Lakki Reddy', cursive;
display: flex;
text-align: center;
line-height: 15px;
}
.nickname{ 
-webkit-text-fill-color: #de2082;
-webkit-text-stroke: 1px #c91267d5;
text-shadow: -4px -4px 0px #ece78cd5, 4px -4px 0px #ece78cd5, -4px 4px 0px #ece78cd5, 4px 4px 0px #ece78cd5;
font-family: 'Galindo', cursive;                              
font-size: 70px;
font-weight: 900;
letter-spacing: -5px;
display: flex;
text-align: center;
line-height: 70px;
}
.greetings{
font-size: 25px;
font-family: 'Galindo', cursive;
}
.presentation-imgage{
margin: 0 0 80px;
display: flex;
justify-content: center;
width: 50%;
}
.mojo-face{
  width: 150%;
}
/*queries*/
@media (min-width: 551px) {
.nickname{
  margin: 15px 0;
  font-size: 90px;
  margin: 15px 0 0;
}
.greetings{
  margin-bottom: -10px;
  margin-left: -190px;
  }
.greetings-text{
  margin-top: 10px;
  }
}
@media (min-width: 1100px) {
.presentation{
  padding: 120px 20px 80px;
}
}

/*footer*/
.footer,
.footer a{
background-color: #9f91ec;
font-family: 'Spicy Rice', cursive;
color: #7a65f3;
-webkit-text-stroke: .5px #9686f0d8;
text-decoration: none;
display: flex;
flex-direction: column;
}
.links-footer-container{
  display: none;
}
.list-for-footer-icons i{
  color: #7a65f3;
  -webkit-text-stroke: .5px #9686f0d8;
}
@media (min-width: 700px) {
  .links-footer-container{
    display: flex;
  }
}